/* bmcgovern007.github.io/
 CSS Style Sheet */

.primary {
    background-color: #F5F5F5;
}

.secondary {
    background-color: #D8D8D8;
}

.accent {
    background-color: #A9A9A9;
}



footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    border: 3px solid white;
}

/** {
    box-sizing: border-box;
}

nav * {
    display: inline;
}

nav {
    position: fixed;
    top: 10px;
    width: 100%;
}*/

a {
    color: white;
    display: block;
    padding: 8px;
    text-decoration: none;
}

a:link, a:visited, p.secondary {
    display: block;
    width: 120px;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: #A9A9A9;
}

p.smallfont {
    font-family: Arial;
    font-size: 16px;
}
