<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<!--<div class="bg-img">-->
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/resume">Resume</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
				</nav>
			<!--</div>-->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:bmcgovern007@gmail.com">email</a></li>
	        		<li><a href="https://github.com/briannamcgovern">github</a></li>
				<li><a href="https://www.linkedin.com/in/brianna-mcgovern/">linkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
